.effect1 {
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
 
.effect1:hover {
    transform: scale(1.1);
    background-color: #0f47ee;
}

.statistics-table td, .statistics-table th {
    margin: 0vh 1vw;
    padding: 0vh 1vw;
}
